.outlineBtn{
    width: 16%;
    height: 25pt;
    border-radius: 5pt;
    background: white;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
}

.pressedBtn{
    width: 16%;
    height: 25pt;
    border-radius: 5pt;
    background: #FF9B85;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
    color: white
}