
.filterContainer{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin: 1em 0;
    gap: 5%;
}
.freeInput{
    width: 70%;
    height: 14pt
}
.input{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 70%
}
.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.selectContainer{
    width: 30%;
    height: 25pt;
}

.quickIngredient{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient{
    width: 16%;
    height: 25pt
}

.inputStyling{
    border-radius: 5pt;
    background: white;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
}