p{
    font-family: "Poppins"
}


.drinkDisplay{
    width: 100%;
}

.drinkInfo {
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.drinkPageImg {
    border-radius: 5%;
    width:100%;
}

.drinkRight {
    margin-left: 4em;
    width:50%;
    margin-top:4em;
    font-family: "Poppins";
}

.drinkLeft {
    width:70%;
    margin-top:2em;
    padding-left:15em;
}

.ingredientsList {
    list-style-type: disc;
    margin-left: -2em;
}

.drinkRight h2 {
    font-weight: 600;
}

.instructions {
    margin-left: -1em;
    text-align: left;
}

.notes {
    display:flex;
    flex-direction:column;
    font-family: "Fraunces";
    width: 100%;
    padding: 0 15em;
    box-sizing: border-box;

}

.drinkHeroSection {
    width: 100%;
    margin:0;
    height: 100px;
    position:relative;
}

.drinkHeroImg {
    width:100%;
    z-index:1;
}

.drinkName {
    z-index: 2;
    font-family: 'Fraunces';
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.add-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notesContainer{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;

}

.products{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 0 1em;

}

.notesInput{
    width: 100%;
    font-family: "Poppins";
    padding: 0.5em 0.5em 2em 0.5em;
    box-sizing: border;
    border-radius: 1em;
    border: 1px solid #FF9B85;
    position: relative;
}

.formContainer{
    width: 50%;
}
.notesSubContainer{
    position: relative;
}

.form-btns{

    position: absolute;
    right: 0;
    bottom: 1em;
    
}

.save-btn{
    color: #B3E0A3;
}

.add-btn{
    width: 33%;
}