.contentContainer {
    padding: 0 15%
}

.drinkDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drinkImg {
    height: 200pt;
    width: auto;
    object-fit: contain;
    border-radius: 10pt;
}

.drinkCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40pt;
}

.drinkDisplay a { 
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-size: 18px;
}