.contentContainer {
    padding: 0 15%
}

.drinkDisplayHome {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.drinkContainerHome{
    position: relative;
    border-radius: 1.5em;
    width: 25%;
    z-index: 1;
}


.drinkImg {
    height: 15em;
    width: auto;
    object-fit: contain;
    border-radius: 1.5em;
    transition: 0.5s;
}

.drinkImg:hover{
    height: 17em;

}

.drinkCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40pt;
}

.drinkDisplayHome a { 
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-size: 18px;
    transition: 0.5s;
}

.drinkDisplayHome a:hover{
    font-weight: 700;
}

/*FILTER*/

.filterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin: 1em 0;

}
.freeInput{
    width: 70%;
    height: 14pt
}
.input{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 70%
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}
.selectContainer{
    width: 30%;
    height: 25pt;
}

.quickIngredient{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.favouritesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingredient{
    width: 16%;
    height: 25pt
}

.inputStyling{
    border-radius: 5pt;
    background: white;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
}

.outlineBtn{
    width: 16%;
    height: 25pt;
    border-radius: 5pt;
    background: white;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
}

.pressedBtn{
    width: 16%;
    height: 25pt;
    border-radius: 5pt;
    background: #FF9B85;
    border: 1pt solid #FF9B85;
    padding: 5pt;
    box-shadow: 3pt 3pt 3pt #e0e0e0;
    color: white
}

/*Button*/

.HeartContainer {
    border: none;
    background-color: transparent;
}

.whiteCircle {
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1em;
    top: 1em;
}

.whiteCircle > button{
    display: flex;
    justify-content: center;
    align-items: center;
}