@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #FFDBD3;
    gap: 2em;
    padding: 1em 15%;
    margin-top: 2em;
    box-sizing: border-box;

}

.group_name {
    font-family: Poppins;
    font-size: 20px;
    width: 8em;

}

.about_app {
    font-family: Poppins;
    font-size: 16;
}

.logo {
    display:flex;
    flex-direction:row;
}
.logo-former {
    font-family: Fraunces;
    color: #FF9B85;
}

.logo-latter {
    font-family: Fraunces;
    color: #292929;
}

@media only screen and (max-width: 450px) {

.footer{
    flex-direction: column;
}

}